<ion-header>
  <ion-toolbar id="toolbar">
    <ion-button *ngIf="page > 0" (click)="back()" shape="round" slot="start" color="primary" class="ion-padding">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>

    <!-- <ion-button (click)="advance()" slot="end" color="secondary">
      <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      <ion-label>{{button_text}}</ion-label>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fullscreen-container" class="swiper">
    <div class="swiper-wrapper">
      <div id='splash' class="swiper-slide">
          <h1><strong>Welcome!</strong></h1>
          <p>to a better sleep schedule</p>
          <p>for the busy student that you are</p>
      </div>
  
      <div class="swiper-slide">
        <h1><strong>Are you a morning or night person?</strong></h1>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="set_prefers_morning()" shape="round" [color]="prefers_morning !== undefined ? (prefers_morning ? 'secondary' : 'primary') : 'primary'">
                <ion-icon name="sunny"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="set_prefers_night()" shape="round" [color]="prefers_morning !== undefined ? (prefers_morning ? 'primary' : 'secondary') : 'primary'">
                <ion-icon name="moon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <div class="swiper-slide">
        <h1><strong>To help with your sleep, we'd like to know your course schedule</strong></h1>
        <app-visual-schedule></app-visual-schedule>
      </div>

      <div class="swiper-slide">
        <h1><strong>How much time do you need to prepare/commute before getting to campus?</strong></h1>
        <!-- <ion-datetime presentation="time" [(ngModel)]="wind_up_time" minuteValues="0,10,20,30,40,50"></ion-datetime> -->
        <ion-button (click)="open_wind_up_picker()">
          <ion-label>{{wind_up_string}}</ion-label>
        </ion-button>
      </div>

      <div class="swiper-slide">
        <h1><strong>Would you like to connect your fitness app?</strong></h1>
        <h2>We will use sleep data to make better sleep time recommendations</h2>
        <ion-item>
          <ion-label>Connect and use your fitness data</ion-label>
          <ion-toggle slot="end" [(ngModel)]="fitness_connected" (click)="connect_fitness()"></ion-toggle>
        </ion-item>
      </div>

      <div class="swiper-slide">
        <h1><strong>You're all set!</strong></h1>
        <ion-button (click)="advance()" color="secondary" shape="round">
          <ion-label>Start using</ion-label>
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>    
  </div>

  <div *ngIf="!isEnd" id="advance-button">
    <ion-button (click)="advance()" color="secondary" shape="round">
      <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
      <!-- <ion-icon *ngIf="isEnd" slot="icon-only" name="checkmark-circle"></ion-icon> -->
    </ion-button>
  </div>
</ion-content>
