<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Overnight Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h1>Recommended sleep</h1>
  <ion-card>
    <ion-card-content id="alarm-card">
      <p>We set an alarm for</p>
      <h1><strong>{{wakeup_time_str}}</strong></h1>
      <p>({{time_from_now}})</p>
      <!-- TO DO: (click)="set_manual_alarm()" -->
      <!-- <ion-button slot="end"> 
        <ion-icon slot="start" name="pencil"></ion-icon>
        <ion-label>Set manually</ion-label>
      </ion-button> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title *ngIf="!is_running">Start a sleep session manually</ion-card-title>
      <ion-card-title *ngIf="is_running">{{elapsed()}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button *ngIf="!is_running" id="start" (click)="start()">Start</ion-button>
      <ion-button *ngIf="is_running" id="stop" (click)="stop()">Stop</ion-button>
    </ion-card-content>
  </ion-card>

  <h1>Your last sleep</h1>
  <ion-card>
    <ion-card-content>
      <h1>{{last_sleep_date}}</h1>
      <p>{{last_sleep_duration}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button id="open-sleep-entries-modal">See more</ion-button> 

  <ion-modal trigger="open-sleep-entries-modal" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Your recent sleep entries</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card *ngFor="let entry of all_sleep_entries">
          <ion-card-content>
            <h1>{{entry.time_sleep_as_str()}}</h1>
            <p>{{entry.duration_as_str()}}</p>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="all_sleep_entries.length < 1">
          <ion-card-content>
            <p>No recorded data</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
