<!-- <ion-grid>
  <ion-row>
    <ion-col><ion-button (click)="show_study_list()">
      <ion-label>Study List</ion-label>
    </ion-button></ion-col>
    <ion-col><ion-button (click)="show_calendar()">
      <ion-label>Calendar</ion-label>
    </ion-button></ion-col>
  </ion-row>
</ion-grid> -->

<!-- <div *ngIf="display == 'study-list'"> -->
<div>
  <ion-button id="open-course-modal">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <ion-label>Add a course</ion-label>
  </ion-button>

  <div *ngIf="courses.length > 0">
    <ion-list class="bg-transparent">
      <ion-item-sliding *ngFor="let course of courses" class="bg-transparent">
        <ion-item lines="none" class="bg-transparent ion-no-padding ion-align-items-center ion-justify-content-center">
          <ion-card class="item-fill-space">
            <ion-card-content>
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col>
                    <p>{{course.name}} {{course.type}}</p>
                  </ion-col>
                  <ion-col>
                    <p>{{course.days_str}}</p>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <p>{{course.format}}</p>
                  </ion-col>
                  <ion-col>
                    <p>{{course.time_start_str()}} - {{course.time_end_str()}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options>
          <!-- <ion-item-option (click)="edit_course(course)" class="bg-transparent">
            <ion-icon slot="icon-only" color="primary" name="pencil"></ion-icon>
          </ion-item-option> -->
          <ion-item-option (click)="remove_course(course)" class="bg-transparent">
            <ion-icon slot="icon-only" color="primary" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="courses.length < 1">
    <ion-card>
      <ion-card-content>No courses to display</ion-card-content>
    </ion-card>
  </div>

</div>

<!-- <ion-card *ngIf="display == 'calendar'">
  <ion-card-content>
    Calendar
  </ion-card-content>  
</ion-card> -->

<!-- <div id="fixed-bottom">
  <ion-button id="open-course-modal" expand="block">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <ion-label>Add a course</ion-label>
  </ion-button>
</div> -->

<ion-modal trigger="open-course-modal" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]" (onDismiss)="reset_modal()">
  <ng-template id="2">
    <ion-header>
      <ion-toolbar>
        <ion-button id="confirm" (click)="confirm()" slot="end" [color]="(is_valid()) ? 'success' : 'danger'">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-grid>
        <ion-row>
          <ion-col><p>S</p></ion-col>
          <ion-col><p>M</p></ion-col>
          <ion-col><p>T</p></ion-col>
          <ion-col><p>W</p></ion-col>
          <ion-col><p>T</p></ion-col>
          <ion-col><p>F</p></ion-col>
          <ion-col><p>S</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[0]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[1]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[2]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[3]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[4]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[5]"></ion-checkbox></ion-col>
          <ion-col><ion-checkbox [(ngModel)]="selected_days[6]"></ion-checkbox></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-item fill="solid">
              <ion-label position="floating">Course</ion-label>
              <ion-input placeholder="Enter course name" [(ngModel)]="course_name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="solid">
              <ion-select interface="action-sheet" placeholder="Lec" [(ngModel)]="course_format">
                <ion-select-option *ngFor="let type of course_types">{{type}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button id="time-start-value">{{time_start_str()}}</ion-button>
            <ion-modal trigger="time-start-value" [keepContentsMounted]="true" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
              <ng-template>
                <ion-datetime id="time-start" presentation="time" [(ngModel)]="time_start" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size="1"><p>-</p></ion-col>
          <ion-col>
            <ion-button id="time-end-value">{{time_end_str()}}</ion-button>
            <ion-modal trigger="time-end-value" [keepContentsMounted]="true" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
              <ng-template>
                <ion-datetime id="time-end" presentation="time" [(ngModel)]="time_end" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="1"></ion-col>
          <ion-col>
            <ion-chip *ngIf="duration() < 1" color="danger">
              <ion-icon name="alert-circle"></ion-icon>
              <ion-label>Invalid time</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list>
        <ion-item>
          <ion-select interface="action-sheet" placeholder="Select course format" [(ngModel)]="course_format">
            <ion-select-option value="In person">In person</ion-select-option>
            <ion-select-option value="Syncronous remote">Syncronous remote</ion-select-option>
            <ion-select-option value="Asynchronous remote">Asyncronous remote</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-modal>