<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h1>User preferences</h1>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>You are a morning person</ion-label> <!-- TO DO: Change to morning or night person based on what's in the database (check in ngInit())-->
        <ion-button slot="end">
          <ion-icon name="sunny"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Time to prepare/commute</ion-label>
        <ion-button (click)="open_wind_up_picker()" slot="end">
          <ion-icon name="car"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <h1>Fitness integration</h1>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Connect your fitness app</ion-label>
        <ion-button (click)="connect_fitness()" slot="end">
          <ion-icon name="arrow-forward"></ion-icon> <!-- TO DO: Fitness app integration (if integrated, give open to disconnect fitness app instead)-->
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <h1>Advanced</h1>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Add static data</ion-label>
        <ion-button (click)="load_default_data()" slot="end">
          <ion-icon name="clipboard"></ion-icon> <!-- TO DO: Integrate static data -->
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Clear data</ion-label>
        <ion-button (click)="clear_data()" slot="end">
          <ion-icon name="nuclear"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
