<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Coffee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h1>Need coffee?</h1>
  <ion-button (click)="find_coffee_shop()">
    <ion-icon slot="start" name="search-circle"></ion-icon>
    <ion-label>Find me the nearest shop</ion-label>
  </ion-button>

  <ion-card *ngIf="this.found_shops.length > 0">
    <ion-toolbar>
      <ion-button (click)="back()" shape="round" slot="start" color="primary" class="ion-padding">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="forward()" shape="round" slot="end" color="primary" class="ion-padding">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-card-content>
      <h1>{{this.shop.name}} ({{this.shop.rating}} stars)</h1> 
      <p>{{this.shop.address}}</p>
      <p>{{ this.shop.distance_from_me.toFixed(2) }} miles away</p>
    </ion-card-content>
  </ion-card>
</ion-content>
